body {
  font-family: 'Livvic', sans-serif;
  /*sand: #d6cdc3;*/
  color: white;
  background-color: #F19C79;
}

.home {
  width: 100%;
  background-color: #F19C79;
  display: flex;
  background-image: url(images/a.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:left bottom;
}

.bref {
  margin-left: 40%;
  padding: 230px 0 170px 0;
  max-width: 700px;
}

.bref h1 {
  font-size: 60px;
}

.bref p {
  font-size: 20px;
  max-width: 570px;
}

#digpart:hover {
  font-size: 70px;
  transition: 0.7s;
  color: #6EA4BF;
}

.bref p {
  margin-top: 50px;
  margin-bottom: 1rem;
}


/*SCROLL DOWN BUTTON*/
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  /*padding-top: 500px;*/
  /*z-index: 9;*/
  border-radius: 50%;
  /*-webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;*/
}
/*img,
figure {
  max-width: 100%;
}*/

/*________________________________________________*/

/*TEST BUTTON*/

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  background-color: #f32121;
  position: absolute;
  top: 41px;
  left: 50%;
  width: 17px;
  height: 70px;
  margin-left: -15px;
  /* border: 2px solid #fff; */
  border-radius: 7px;
  box-sizing: border-box;
}

/**Small circle that goes down:/
/*#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb10 3.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}*/

/*________________________________________________*/

.about {
  height: 100%;
  width: 100%;
  background-color: #F19C79;;
  padding-top: 50px;
}

.about h1 {
  font-size: 55px;
  max-width: 950px;
  color: #DD614A;
  font-weight: 400;
  text-align: end;
  margin: 70px auto;
}

.about h3 {
  max-width: 950px;
  color: #ffffffd4;
  text-align: end;
  margin: 30px auto 40px auto;
}

#goal {
  color: #C32F27;
  /*color: #A20021;*/
}

.serviceslist {
  max-width: 950px;
  color: #ffffffd4;
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
  margin: 30px auto;
}

.myprojects {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 50px auto;
}

.myprojects h1 {
  color: #DD614A;
  font-size: 50px;
  text-align: center;
  margin: 70px;
}

.myprojects h2 {
  margin-bottom: 20px;
}

.myprojects p {
  max-width: 720px;
  text-align: initial;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#CG {}

#off {
  /*border: 1px solid #c50d0d;*/
  border-radius: 8px;
  background-color: #c50d0d;
  font-weight: bolder;
  padding: 3px;
  opacity: 0.7;
}

.myprojects img {
  width: 750px;
  margin: 0 auto 30px auto;
  opacity: 0.7;
}

.myprojects img:hover {
  opacity: 1;
}

footer {
  width: 100%;
  font-family: 'Livvic', sans-serif;
  padding: 20px 20px 40px 20px;
  text-align: center;
  background-color: #ffe9e2;
  color: #f32121;
  font-size: 20px;
}

.lets {
  padding: 10px;
}

.footer-info {
  margin: 5px auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  color: #C32F27;
}

.email a {
  font-family: 'Livvic', sans-serif;
  color: #C32F27;
  text-decoration: underline;
}

.email a:hover {
  color: #e20367;
}

.email p, .social p {
  margin-bottom: 0rem;
}

.social {
  margin: auto 0;
}

.social-link {
  display: flex;
  justify-content: space-evenly;
}

i {
  font-size: 20px;
  color: #C32F27;
}

i:hover {
  color: #e20367;
}

@media(min-width: 768px) and (max-width: 1388px) {
  .home {
    height: 100vh;
    width: 100%;
    padding: 0;
  }

  .bref {
    padding: 170px 0;
  }

  .bref p {
    font-size: 35px;
  }

  .about {
    height: 100vh;
    width: 100%;
    padding: 80px 35px;
  }

  .about h1 {
    font-size: 50px;
  }

  .serviceslist {
    font-size: 22px;
    margin: 50px auto;
  }
}

@media(min-width: 1023px) and (max-width: 1388px) {

  .home {
    height: 100vh;
    width: 100%;
    padding: 0;
  }

  .about h1 {
    font-size: 70px;
    max-width: 950px;
    color: #DD614A;
    font-weight: 400;
    text-align: end;
    margin: 70px auto;
  }


  .about h3 {
    font-size: 36px;
  }

  .serviceslist {
    font-size: 30px;
    margin: 70px auto;
  }
}

@media(max-width: 767px) /*and (min-height: 810px)*/ {
  .home {
    height: 100vh;
    width: 100%;
    padding: 0;
    background-position:left bottom;
  }

  .about {
    width: 100%;
    padding: 45px 20px;
  }

  .bref {
    text-align: end;
    margin-left: 25%;
    padding: 70px 20px;
  }

  .bref h1 {
    font-size: 35px;
  }

  .about h1 {
    font-size: 40px;
    margin: 0;
  }

  .about h3 {
    font-size: 22px;
    margin: 20px auto 25px auto;
  }

  .myprojects h1 {
    margin: 40px;
  }

  .myprojects p, .myprojects img {
    max-width: 300px;
  }
}

/*@media(min-width: 370px) and (max-height: 670px){
  .home {
    height: 100vh;
    width: 100%;
    padding: 0;
    background-position:left bottom;
  }

  .about {
    height: 100vh;
    width: 100%;
    padding: 40px 20px;
  }


  .about h1 {
    font-size: 35px;
    margin: 0;
  }

  .about h3 {
    font-size: 22px;
    margin: 20px auto 25px auto;
  }

  .bref {
    text-align: end;
    margin-left: 25%;
    padding: 70px 20px;
  }

  .bref h1 {
    font-size: 30px;
  }

  .serviceslist {
    font-size: 16px;
  }

  .myprojects p, .myprojects img {
    max-width: 300px;
  }
}

*/
