body {
  font-family: 'Livvic', sans-serif;
  /*sand: #d6cdc3;*/
  color: white;
  background-color: #F19C79;
}

.home {
  height: 100%;
  width: 100%;
  background-color: #F19C79;
  display: flex;
/*  justify-content: space-around;
  padding: 230px 0 170px 0;*/
}

.logo img {
  height: 100vh;
}

.logo h1{
  padding: 0;
  margin: 0;
  color: #F19C79;
}

.bref {
  padding: 230px 0 170px 0;
  max-width: 700px;
}

.bref h1 {
  font-size: 60px;
}

.bref p {
/*  text-align: center;
  display: flex;
  flex-wrap: wrap;*/
  font-size: 18px;
  max-width: 520px;
}

/*.tools {
  border: 1px solid white;
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
}*/

#digpart:hover {
  font-size: 70px;
  transition: 0.7s;
  color: #6EA4BF;
}

.bref p {
  margin-top: 50px;
  margin-bottom: 1rem;
}

/*________________________________________________*/
/*#name {
  font-size: 55px;
  font-size: 6em;
  line-height: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#name:hover {
  cursor: default;
}


.wrapper {
  display: inline-block;
  top: -900px;
  position: relative;
  height: 150px; - default
  width: 90px; - default
  transition: ease 0.3s all;
}


.wrapper span {
  position: absolute;
  top:0;
  right:0;
  transition: ease 0.3s all;
}

.wrapper span letter-2 {
  color: $first_color;
}

.wrapper span letter-1 {
  color: $second_color;
  z-index: 1;
}

.wrapper span letter-1:hover {
  top: -3px;
  right: -3px;
}

.wrapper span letter-1:letter-2 {
  top: 3px;
  right: 3px;
}


      &.space {
        padding: 0;
        min-width: 30px;
        display: inline-block;
      }
    }
  }
}*/

/*________________________________________________*/


/*SCROLL DOWN BUTTON*/
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  /*padding-top: 500px;*/
  /*z-index: 9;*/
  border-radius: 50%;
  /*-webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;*/
}
/*img,
figure {
  max-width: 100%;
}*/

/*________________________________________________*/

/*TEST BUTTON*/

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  background-color: #f32121;
  position: absolute;
  top: 41px;
  left: 50%;
  width: 17px;
  height: 70px;
  margin-left: -15px;
  /* border: 2px solid #fff; */
  border-radius: 7px;
  box-sizing: border-box;
}

/**Small circle that goes down:/
/*#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb10 3.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}*/

/*________________________________________________*/

.about {
  height: 100%;
  width: 100%;
  background-color: #F19C79;;
  padding-top: 50px;
}

.about h1 {
  /*font-size: 70px;*/
  max-width: 850px;
  color: #DD614A;
  font-weight: 400;
  text-align: end;
  margin: 70px auto;
}

.about h3 {
  max-width: 850px;
  color: #ffffffd4;
  text-align: end;
  margin: 30px auto 40px auto;
}

#goal {
  color: #C32F27;
  /*color: #A20021;*/
}

.serviceslist {
  max-width: 850px;
  color: #ffffffd4;
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
  margin: 30px auto;
}

.myprojects {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 50px auto;
}

.myprojects h1 {
  color: #DD614A;
  font-size: 50px;
  text-align: center;
  margin: 70px;
}

.myprojects h2 {
  margin-bottom: 20px;
}

.myprojects p {
  max-width: 720px;
  text-align: initial;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#CG {}

#off {
  /*border: 1px solid #c50d0d;*/
  border-radius: 8px;
  background-color: #c50d0d;
  font-weight: bolder;
  padding: 3px;
  opacity: 0.7;
}

.myprojects img {
  width: 750px;
  margin: 0 auto 30px auto;
  opacity: 0.7;
}

.myprojects img:hover {
  opacity: 1;
}

footer {
  font-family: 'Livvic', sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #ffe9e2;
  color: #f32121;
  font-size: 20px;
}

.lets {
  padding: 10px;
}

.footer-info {
  margin: 5px auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  color: #C32F27;
}

.email a {
  font-family: 'Livvic', sans-serif;
  color: #C32F27;
  text-decoration: underline;
}

.email a:hover {
  color: #e20367;
}

.email p, .social p {
  margin-bottom: 0rem;
}

.social {
  margin: auto 0;
}

.social-link {
  display: flex;
  justify-content: space-evenly;
}

i {
  font-size: 20px;
  color: #C32F27;
}

i:hover {
  color: #e20367;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

/*.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11);
}*/

/*.menu ul {
  display: flex;
  margin: 0;
}

.menu li {
  font-size: 18px;
  padding-right: 40px;
}

.menu a {
  font-weight: lighter;
  color: #5a5a5a;
  font-size: 16px;
}

.menu a:hover{
  color: black;
  font-weight: bolder;
}*/

/*.logo img {
  width: 70px;
  height: 50px;
  border-radius: 50%;
}*/

/*
.container {
  margin-top: 100px;
  max-width: 1152px;
  width: 1152px;
  text-align: center;
}*/

/*.tags {
  padding: 20px;
  margin: 100px auto 30px auto;
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/

/*span {
  padding: 7px;
  border: 1px solid #89D2DC;
  margin: 3px;
  border-radius: 10px;
}

span:hover {
  border: 1px solid blue;
}*/

/*.button {
  text-decoration: none;
  color: white;
  padding: 11px;
  border-radius: 5px;
  background-color: #89D2DC;
  font-weight: bolder;
  font-size: 18px;
}

.button:hover {
  background-color: #F5F749;
  border: 1px solid #F5F749;
  color: gray;
}*/

